@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
header {
  padding-top: 46px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .logo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
header img {
  width: 36px;
  height: 36px;
}
header h3 {
  color: #0b132a;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}
header li a {
  text-decoration: none;
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .header_buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #0b132a;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header button {
  background-color: #fff;
  color: #f53855;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 150px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #f53855;
}

.footer {
  font-size: 22px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
  background-color: #ffffff;
}

.container {
  margin: 0 150px;
}

.zag {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.want {
  padding-top: 126px;
  display: flex;
  justify-content: center;
  gap: 55px;
}
.want .text_want {
  width: 555px;
}
.want .text_want h1 {
  color: #0b132a;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  padding-bottom: 20px;
}
.want .text_want p {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 50px;
}
.want .text_want span {
  color: #4f5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.want .text_want button {
  border: 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f53838;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 90px;
  align-items: center;
}
.icons .icon {
  display: flex;
  gap: 36px;
  align-items: center;
}
.icons .icon_text {
  display: block;
  gap: 5px;
}

.we {
  display: flex;
  gap: 170px;
  justify-content: center;
  padding-top: 163px;
  align-items: center;
}
.we .we_text {
  width: 384px;
}
.we .we_text h1 {
  color: #0b132a;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  padding-bottom: 20px;
}
.we .we_text p {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}
.we .benefits {
  display: flex;
  align-items: center;
  color: #4f5665;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  padding-bottom: 15px;
}

.choose {
  padding-top: 210px;
}
.choose h1 {
  color: #0b132a;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
}
.choose p {
  width: 555px;
  color: #4f5665;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.choose .cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 60px;
}
.choose .card {
  padding-top: 80px;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 330px;
  height: 760px;
  flex-shrink: 0;
  width: 330px;
  height: 760px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #fff;
}
.choose .card h4 {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  padding: 30px 0;
}
.choose .card .free {
  padding-top: 130px;
}
.choose .card .stand {
  padding-top: 90px;
}
.choose .card .right {
  display: flex;
  padding-left: 70px;
  gap: 20px;
  color: #4f5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}
.choose .card h3 {
  padding-top: 50px;
  padding-bottom: 20px;
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 120% */
}
.choose .card button {
  color: #f53838;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 177.876px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 2px solid #f53838;
  background-color: #fff;
}
.choose .card span {
  color: #4f5665;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.choose .card .red_but button {
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 177.876px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f53838;
}

.huge {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.huge h1 {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  width: 383.406px;
}
.huge p {
  padding-bottom: 155px;
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  width: 555px;
}
.huge span {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.trusted {
  padding-top: 124px;
}
.trusted .zag h1 {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  width: 447.805px;
  padding-bottom: 20px;
}
.trusted .zag p {
  width: 555px;
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.trusted .cards_trusted {
  padding-bottom: 112px;
  padding-top: 60px;
}
.trusted .cards_trusted .card_trusted {
  padding: 30px;
  width: 400px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #f53838;
  background: #fff;
}
.trusted .cards_trusted .card_trusted p {
  color: #0b132a;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.trusted .cards_trusted .card_trusted .top {
  width: 340px;
  display: flex;
  align-items: center;
  gap: 108px;
}
.trusted .cards_trusted .card_trusted .top .photo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.trusted .cards_trusted .card_trusted .top .photo h4 {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.trusted .cards_trusted .card_trusted .top .photo p {
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}/*# sourceMappingURL=main.css.map */